.table {
  .row {
    display: flex;
    flex-direction: row;

    &.odd {
      background-color: black;
      color: white;
    }
    &.even {
      background-color: pink;
      color: black;
    }
  }
}
